USE [HelpDeskDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_MNT_Menu]    Script Date: 28/11/2023 23:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_MNT_Menu]          
            
	@nOpcion INT,   
	@pParametro VARCHAR(max)
                                                                                   
AS     

BEGIN

	BEGIN
		
		DECLARE @IdRol     INT;

	END
	
	--VARIABLE TABLA
	BEGIN

		DECLARE @tParametro TABLE (
			id int,
			valor varchar(max)
		);

	END

	--Descontena el parametro con split
	BEGIN
		IF(LEN(LTRIM(RTRIM(@pParametro))) > 0)
			BEGIN
			    INSERT INTO @tParametro (id, valor ) SELECT id, valor FROM dbo.Split(@pParametro, '|');
			END;
	END;
        
		
	IF @nOpcion = 1   --CONSULTAR MENU
	BEGIN	                                                                                                                                                     
			SELECT 
				Rou.IdRoute AS 'IdMenu',
				Name,
				Url AS 'Route',
				Icon,
				ISNULL(IdParentRoute,0) AS 'IdParent',
				Level,
				Active AS 'Status'
			FROM [Ruta] Rou
			JOIN [Permiso] Per ON Rou.IdRoute = Per.IdRuta
			--WHERE 
			--	IdRol = @IdRol
			ORDER BY Level ASC, Name ASC
				                                                                 
	END;          
			

END
